node_modules
dist
.env
node_modules/
.DS_Store
.vscode/
.idea
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
test-results/
.eslintcache
.next
out
build
.nuxt
.cache
*.local
*.tsbuildinfo
.sass-cache
.jest
*.swp
*~
.project